body,
html {
  height: 100vh;
  width: 100vw;
}

main {
  padding: 40px 0;
}

footer {
  padding: 30px;
}

.block {
  display: block !important;
}

body.home {
  background: url("/img/notflix-home-bg.jpg") center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Manrope", sans-serif;
}

body.home .title-holder {
  text-align: center;
  color: #ffffff;
  background: #6200ff;
  padding: 30px 55px;
  border-radius: 40px;
  border: 10px solid #292272;
}

body.home .title-holder h1 {
  font-size: 70px;
}

body.home .title-holder h2 {
  font-size: 50px;
}

pre {
  background: #11203a;
  color: teal;
  padding: 10px 20px;
  width: 600px;
  max-width: 600px;
  max-height: 400px;
  overflow: scroll;
  margin-top: 10px;
}

code {
  font-weight: 500;
}

.url {
  color: #7504f7;
  font-weight: 500;
}

.method {
  color: #e91e63;
  font-weight: 500;
}
