body,
html {
  height: 100vh;
  width: 100vw;
}
main {
  padding: 40px 0;
}
footer {
  padding: 30px;
}
pre {
  background: #11203a;
  color: teal;
  padding: 10px 20px;
  width: 600px;
  max-width: 600px;
  max-height: 400px;
  overflow: scroll;
  margin-top: 10px;
}
code {
  font-weight: 500;
}
.url {
  color: rgb(117, 4, 247);
  font-weight: 500;
}
.method {
  color: #e91e63;
  font-weight: 500;
}
