pre {
  background: #11203a;
  color: teal;
  padding: 10px 20px;
  width: 600px;
  max-width: 600px;
  max-height: 400px;
  overflow: scroll;
  margin-top: 10px;
}
code {
  font-weight: 500;
}
.url {
  color: rgb(117, 4, 247);
  font-weight: 500;
}
.method {
  color: #e91e63;
  font-weight: 500;
}

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

@mixin width {
  width: auto !important;
}

table {
  &.table-fit {
    @include width;
    table-layout: auto !important;
    thead th,
    tfoot th {
      @include width;
    }
    tbody td,
    tfoot td {
      @include width;
    }
  }
}
