@font-face {
  font-family: "Broadway3D";
  src: url("/fonts/Broadway3D.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BroadwayGradient3D";
  src: url("/fonts/BroadwayGradient3D.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BroadwayShadow";
  src: url("/fonts/BroadwayShadow.ttf");
  font-weight: normal;
  font-style: normal;
}
